bootloader --location=mbr --driveorder=INSTALLATION_DRIVES  --append="rhgb quiet"
zerombr
&lt;% if node[:platform_version].to_f >= 6 -%>
ignoredisk --only-use=INSTALLATION_DRIVES
clearpart --all --drives=INSTALLATION_DRIVES
