bootloader --location=mbr --driveorder=INSTALLATION_DRIVE --append="rhgb quiet"
zerombr

ignoredisk --only-use=INSTALLATION_DRIVE
clearpart --all --drives=INSTALLATION_DRIVE

part /boot --fstype ext4 --size=100 --ondisk=INSTALLATION_DRIVE
part swap --recommended
part pv.6 --size=1 --grow --ondisk=INSTALLATION_DRIVE

volgroup lv_admin --pesize=32768 pv.6
logvol / --fstype ext4 --name=lv_root --vgname=lv_admin --size=1 --grow
